<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/dashboard1.css">
</head>
<body>

    <div class="container">
        <div class="left">
            <div class="logocontainer">
                <img class="logo" src="./image/logoimg.png">
                <img class="logotext" src="./image/logotext.png">
            </div>

            <div class="welcome">
                <h1>welcome,Patient</h1>
            </div>

            <div class="nav">
                <div class="navoption">
                    <h3><a href="#">Dashboard</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">Search Doctor</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">Search Healthtip Category </a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">Health Tips</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">Lab Reports</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">My Treatment</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">My Transaction</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">My Wallet</a></h3>
                </div>

                <div class="navoption">
                    <h3><a href="#">Help & Support</a></h3>
                </div>
            </div>

            <div class="logout">
                <a href="#">Log out</a>
            </div>

        </div>

        <div class="right">
            <div class="nav1">
                <div class="searchbox">
                    <input type="text" placeholder="Search" class="search">
                <div class="searchicon">
                    <img class="searchimg" src="./image/search.png">
                </div>
                </div>
                <div class="profilebox">
                    <img class="profile" src="./image/profile.png">
                </div>
            </div>
           <div class="details">
            <div class="box">
                <div class="first">
                    <div class="photobox"></div>
                </div>

                <div class="second">
                    <h1>Adarsh Raj</h1>
                    <h2><strong>Hospitals:</strong>ABC Hospitals</h2>
                    <h2><strong>Specialization:</strong>Surgeon</h2>
                    <h2><strong>Language Known:</strong>Hindi,English</h2>
                    <h2><strong>Charge:</strong>200</h2>
                    <h2>10 Years of experience</h2>
                </div>

                <div class="third">
                   <a href="/form"><button class="btn">Book appointment</button></a>
                </div>
            </div>

            <div class="box">
                <div class="first">
                    <div class="photobox"></div>
                </div>

                <div class="second">
                    <h1>Khushi Pathak</h1>
                    <h2><strong>Hospitals:</strong>XYZ Hospitals</h2>
                    <h2><strong>Specialization:</strong>dermatologist</h2>
                    <h2><strong>Language Known:</strong>Hindi,English,Japanise</h2>
                    <h2><strong>Charge:</strong>200</h2>
                    <h2>15 Years of experience</h2>
                </div>

                <div class="third">
                    <a href="/form"><button class="btn">Book appointment</button></a>
                </div>
            </div>

            <div class="box">
                <div class="first">
                    <div class="photobox"></div>
                </div>

                <div class="second">
                    <h1>Aman Aditya</h1>
                    <h2><strong>Hospitals:</strong>PQR Hospitals</h2>
                    <h2><strong>Specialization:</strong>Physician</h2>
                    <h2><strong>Language Known:</strong>Hindi,English</h2>
                    <h2><strong>Charge:</strong>200</h2>
                    <h2>9 Years of experience</h2>
                </div>

                <div class="third">
                    <a href="/form"><button class="btn">Book appointment</button></a>
                </div>
            </div>

            <div class="box">
                <div class="first">
                    <div class="photobox"></div>
                </div>

                <div class="second">
                    <h1>Akash Kumar</h1>
                    <h2><strong>Hospitals:</strong>PQR Hospitals</h2>
                    <h2><strong>Specialization:</strong>Dentist</h2>
                    <h2><strong>Language Known:</strong>Hindi,English</h2>
                    <h2><strong>Charge:</strong>200</h2>
                    <h2>10 Years of experience</h2>
                </div>

                <div class="third">
                    <a href="/form"><button class="btn">Book appointment</button></a>
                </div>
            </div>
           </div>
        </div>
    </div>
   
</html>