<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/userlogin.css">
</head>
<body>
    <div class="container">
   <div class="left">
    <div class="logocontainer">
        <img class="logoimg" src="./image/logoimg.png">
        <img class="logotext" src="./image/logotext.png">
    </div>

    <form class="form" method="post" action="/authuser/login">
        <label class="label">Username</label>
        <input type="text" name="username" class="box" required>
        <label class="label">Password</label>
        <input type="password" name="password" class="box" required>
        <a href="#" class="forget">forget password</a>

        <button type="submit" class="btn">continue</button>
    </form>
    <h4 class="dont">Don't have an account ?<a href="#">signup<a></a></h4>
   </div>
    <div class="right">
        <img class="pic" src="./image/right.jpeg">
    </div>
    </div>
</body>
</html>